/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

.container-fluid{
  max-width: 1200px;
}
.row.buffer-top div{
  margin-top: 2em;
}
footer{
  padding: 4em 0;
  font-size: 0.8em;
}
@media print {
  a[href]:after {
    content: none;
  }
}
.home img{
  max-height: 200px;
}
