<div class="container-fluid">
  <ol class="breadcrumb hidden-print">
    <li><a href="/#!/">Home</a></li>
    <li class="active"><a href="/#!/courses">Elenco Corsi</a></li>
  </ol>
  <!--<div class="row">
    <div class="col-md-4 col-md-offset-4"> -->
      <h1 class="text-center">Piano annuale di addestramento<br><small>MOD {{modello_num}} Rev {{modello_revisione}} del {{data_revisione_modello | date:"dd/MM/yyyy" }}</small></h1>
    <!--</div>
    <div class="col-md-2 col-md-offset-2">
      <small>MOD {{modello_num}}<br>Rev {{modello_revisione}} del {{data_revisione_modello | date:"dd/MM/yyyy" }}</small>
    </div>
  </div> -->

  <div class="form-inline hidden-print">
      <label for="searchForm">Search: </label>
      <input type="text" class="form-control" ng-model="search.$" id="searchForm">
      <!--<a class="btn btn-default" role="button" ng-click="reloadData()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      </a> -->
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>N° addestramento</th>
          <th>Data</th>
          <th>Oggetto</th>
          <th>Argomenti</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="course in localData_courses | filter:search:strict | orderBy: orderProp">
          <td><a href="/#!/course/{{course.id}}">{{course.doc.num_addestramento}}</a></td>
          <td><a href="/#!/course/{{course.id}}">{{course.doc.data | date:"dd/MM/yyyy"}}</a></td>
          <td><a href="/#!/course/{{course.id}}">{{course.doc.oggetto}}</a></td>
          <td><a href="/#!/course/{{course.id}}">{{course.doc.argomenti}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
