<div class="courses">
  <div class="container-fluid">
    <ol class="breadcrumb hidden-print">
      <li><a href="/#!/">Home</a></li>
      <li><a href="/#!/courses">Elenco Corsi</a></li>
      <li class="active"><a href="/#!/course/{{course._id}}">{{course.num_addestramento}}</a></li>
    </ol>
    <div class="row">
      <div class="col-md-3">
        <img src="/images/logo_ciam.png" alt="Logo C.I.A.M. SRL" class="img-responsive hidden-print">
      </div>
      <div class="col-md-4 col-md-offset-1">
        <h1 class="text-center">Rapporto di addestramento</h1>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <small>MOD {{modello_num}}<br>Rev {{modello_revisione}} del {{data_revisione_modello | date:"dd/MM/yyyy" }}</small>
      </div>
    </div>
    <!--<div class="row" style="padding-top:4em;">
      <div class="col-md-4 col-md-offset-1">
        Rapporto n°: <strong>{{course.num_addestramento}}</strong>
      </div>
      <div class="col-md-4 col-md-offset-3">
        Data: {{course.data | date:"dd/MM/yyyy" }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        Data inizio corso: {{course.data_inizio | date:"dd/MM/yyyy" }}
      </div>
    </div> -->
    <!--<div class="row">
      <div class="col-md-11 col-md-offset-1">
        Data fine corso: {{course.data_fine | date:"dd/MM/yyyy" }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        Numero partecipanti: {{course.num_partecipanti}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        Materiale didattico: {{course.documentazione}}
      </div>
    </div> -->
  </div>
  <div class="row" style="padding-top:4em;">
    <div class="col-md-5 col-md-offset-1">
      <dl class="dl-horizontal">
        <dt>Rapporto n°:</dt>
        <dd>{{course.num_addestramento}}</dd>
        <dt>Numero partecipanti:</dt>
        <dd>{{course.num_partecipanti}}</dd>
        <dt>Materiale didattico:</dt>
        <dd>{{course.documentazione}}</dd>
      </dl>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <dl class="dl-horizontal">
        <dt>Data:</dt>
        <dd>{{course.data | date:"dd/MM/yyyy" }}</dd>
        <dt>Data inizio corso:</dt>
        <dd>{{course.data_inizio | date:"dd/MM/yyyy" }}</dd>
        <dt>Data fine corso:</dt>
        <dd>{{course.data_fine | date:"dd/MM/yyyy" }}</dd>
      </dl>
    </div>
  </div>
  <div class="container-fluid" ng-show="course.partecipanti">
    <h3 class="text-center">Nominativi dei partecipanti</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Cognome</th>
          <th>Nome</th>
          <th>Mansione</th>
          <th>Risultato</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="partecipante in course.partecipanti" ng-if="!course.partecipanti.error">
          <td><a href="/#!/course/{{course._id}}/{{partecipante.id}}">{{partecipante.cognome}}</a></td>
          <td>{{partecipante.nome}}</td>
          <td>{{partecipante.mansione}}</td>
          <td>{{partecipante.risultato}}</td>
          <td>{{partecipante.data | date:"dd/MM/yyyy"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container-fluid" ng-show="course.docenti">
    <h3 class="text-center">Docenti</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Cognome</th>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="docente in course.docenti" ng-if="!course.docenti.error">
          <td>{{docente.cognome}}</td>
          <td>{{docente.nome}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container-fluid" ng-show="course.oggetto">
    <h4>Attività ogetto del corso</h4>
    <p>{{course.oggetto}}</p>
  </div>
  <div class="container-fluid" ng-show="course.argomenti">
    <h4>Argomenti trattati</h4>
    <p>{{course.argomenti}}</p>
  </div>
  <div class="container-fluid" ng-show="course.metodo_verifica">
    <h4>Metodo di verifica</h4>
    <p>{{course.metodo_verifica}}</p>
  </div>
  <div class="container-fluid" ng-show="course.partecipanti">
    <h3 class="text-center">Risultati verifica</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Cognome</th>
          <th>Nome</th>
          <th>Risultato</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="partecipante in course.partecipanti" ng-if="!course.partecipanti.error">
          <td>{{partecipante.cognome}}</td>
          <td>{{partecipante.nome}}</td>
          <td>{{partecipante.risultato}}</td>
          <td>{{partecipante.data | date:"dd/MM/yyyy"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
