<h1 class="text-center">ISO 9001:2015<br><small>Gestione del personale</small></h1>
<div class="container-fluid">
  <div class="row buffer-top">
    <div class="col-sm-2 col-sm-offset-4"><a href="/#!/employees"><img src="/images/persone.png" alt="" class="img-responsive center-block"></a></div>
    <div class="col-sm-2"><a href="/#!/new_employee"><img src="/images/persone_add.png" alt="" class="img-responsive center-block"></a></div>
  </div>
  <div class="row buffer-top">
    <div class="col-sm-2 col-sm-offset-4"><a href="/#!/courses"><img src="/images/corsi.png" alt="" class="img-responsive center-block"></a></div>
    <div class="col-sm-2"><a href="/#!/new_course"><img src="/images/corsi_add.png" alt="" class="img-responsive center-block"></a></div>
  </div>
</div>
