<div class="dipendente" ng-controller="SchedaCtrl">
  <div class="container-fluid">
    <ul class="pager">
      <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Back</a></li>
      <li><h1 class="text-center">Scheda del personale</h1></li>
    </ul>
    <h3 class="text-center">Dati anagrafici</h3>
    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <p><strong>Nome e Cognome:</strong> {{dipendente.nome}}</p>
        <p><strong>Data di nascita:</strong> {{dipendente.cognome}}</p>
        <p><strong>Comune di nascita:</strong> {{dipendente.comune_nascita}}</p>
        <p><strong>Residente:</strong> {{dipendente.indirizzo}}, {{dipendente.cap}} {{dipendente.comune}} ({{dipendente.provincia}})</p>
      </div>
      <div class="col-md-5">
        <p><strong>Data assunzione:</strong> {{dipendente.data_assunzione}}</p>
        <p><strong>Matricola numero:</strong> {{dipendente.cod_dipendente}}</p>
        <p><strong>Qualifica:</strong> {{dipendente.qualifica}}</p>
        <p><strong>Cantiere:</strong> {{dipendente.cantiere}}</p>
      </div>
    </div>
  </div>
  <div class="container-fluid" ng-controller="CorsiCtrl">
    <h3 class="text-center">Tabella riassuntiva della formazione/addestramento attuati</h3>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Data</th>
          <th>Addestramento n°</th>
          <th>Corso o attività di formazione/addestramento</th>
          <th>Durata</th>
          <th>Risultato</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="corso in corsi">
          <td>{{corso.data}}</td>
          <td>{{corso.numero_addestramento}}</td>
          <td>{{corso.argomenti}}</td>
          <td>{{corso.durata}}</td>
          <td>{{corso.esito}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
